#login {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90vw;
    max-width: 400px;
    height: fit-content;
    box-sizing: border-box;
    border-top: none;
    overflow: hidden;
    box-shadow: 0 0 18px rgba(0, 0, 0, 0.4);

    display: flex;
    flex-direction: column;

    #error {
        color: orangered;
    }

    .title {
        background-color: $primaryColor;
        color: white;
    }

    #error,
    .title,
    .inputs,
    .button-container {
        padding: 10px;
        box-sizing: border-box;
    }

    #autoFillDetector {
        position: absolute;
        left: 0;
        right: 0;
        height: 1px;
        width: 1px;
        background: transparent;
        border: none;
    }

    .inputs {
        label {
            position: relative;
            height: 40px;
            margin: 20px 0 10px 0;
            display: block;
            border-bottom: solid 2px $primaryColor;
            background: transparent;
            cursor: text;

            &.warning {
                background-color: #ffd9cc;
                color: white;
                animation: shake 300ms ease 1;

                @keyframes shake {
                    0% {
                        transform: translate3d(0, 0, 0);
                    }

                    33.333% {
                        transform: translate3d(-10px, 0, 0);
                    }

                    66.666% {
                        transform: translate3d(10px, 0, 0);
                    }

                    100% {
                        transform: translate3d(0, 0, 0);
                    }
                }
            }

            &.focus {
                &::before {
                    transform: scale(0.85) translate3d(-18px, -210%, 0);
                }
            }

            &::before {
                content: attr(data-placeholder);
                top: 50%;
                left: 0;
                transform: scale(1) translate3d(0, -50%, 0);
                position: absolute;
                color: #777;
                transition: all 100ms ease;
                z-index: 0;
                width: 200px;
            }

            input {
                position: absolute;
                left: 0;
                top: 0;
                display: block;
                height: 100%;
                width: 100%;
                border: none;
                background: transparent;
                font-size: 1em;
                color: rgb(68, 68, 68);
                font-weight: 600;

                &:focus {
                    outline: none;
                }
            }
        }
    }

    .button-container {
        height: fit-content;
        display: flex;
        align-items: center;
        justify-content: flex-end;

        button {
            font-size: 1em;
            height: 40px;
            width: 80px;
            color: white;
            background-color: $primaryColor;
        }
    }
}