$primaryColor: #37506b;

$secondaryColor: #ffb380ff;
$textSecondary: $primaryColor;

//dialogs

$dialogBg: $primaryColor;
$dialogBtnHeight: 40px;
$dialogText: white;
$errorText: rgb(255, 107, 107);

$likeIcon: rgb(126, 126, 233);
$eyeIcon: #666;