<form id="login" action="#" method="post">
    <div class="bar flex title">
        <i class="icon logo"></i>
        <h3 id="account-title">Globe Newz</h3>
    </div>
    <div class="inputs">
        <input type="text" name="autofill-detector" id="autoFillDetector">
        <label data-placeholder="email">
            <input type="text" id="email">
        </label>
        <label data-placeholder="password">
            <input type="password" id="password">
        </label>
    </div>
    <span id="error"></span>
    <div class="button-container">
        <button type="submit">submit</button>
    </div>
</form>