<nav class="page-navigation">
    <a href="admin/post">new post</a>
    <a href="admin/categories">categories</a>
    {{#mainAdmin}}
    <a href="admin/mainadmin">murtaza</a>
    {{/mainAdmin}}
    <a href="#" id="logout">logout</a>
</nav>