<div class="list manage-category">
    {{#.}}
    <div class="bar flex list-item">
        <input type="text" value="{{.}}">
        <button action="delete" data-category="{{.}}" class="icon delete"></button>
    </div>
    {{/.}}
</div>