
<h2 class="post-title">{{title}}</h2>
<div id="readpost">{{post}}</div>
<div class="post-actions">
    <div class="flex bar">
        <div class="lead flex">
            <button action="like" id="like_post" class="icon thumb_up_off_alt"></button>
            <span id="likes">{{likes}}</span>
            <i class="icon remove_red_eyevisibility"></i>
            <span id="views">{{views}}</span>
        </div>
        <div class="tail flex">
            <i action="whatsapp" class="icon whatsapp"></i>
            <i action="facebook" class="icon facebook"></i>
            <i action="twitter" class="icon twitter"></i>
            <i action="gmail" class="icon gmail"></i>
        </div>
    </div>
</div>
 